<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Bin Liu</h1>
    </div>

<div class="row">

  <div class="col bg-success text-light">
    <p>
      I am a master's student majoring in computer science at Brandeis, and I got my bachelor's degree
      at Baruch College in New York.
    </p>
    <p>
      I grew up in Sichuan, China. It's also the place where pandas grow up.
    </p>

    <div class="bg-info text-white">
      <h3>
        Places I lived ..
      </h3>
      <ul>
        <li> Xichang, China</li>
        <li> Chengdu, China</li>
        <li> New York, NY</li>
        <li> Waltham, MA</li>
      </ul>
    </div>

  </div>

  <div class="col">
    <img src="https://pbs.twimg.com/profile_images/668893424062365696/6gnLKZt__400x400.jpg"
     width="100%" alt="photo of Bin Liu" >
  </div>

</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
