<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>This is Bin's Demo page</h1>
    <a href="https://www.brandeis.edu"> This is a link to Brandeis University </a>
</div>

<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Website Features</th>
      <th>Discription</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>User Management</td>
      <td>Users can sign up, sign in, and log out</td>
    </tr>
    <tr>
      <td>Website Display</td>
      <td>Users can post stuff on the website for exchange</td>
    </tr>
    <tr>
      <td>Interactions</td>
      <td>Users can interact with each other</td>
    </tr>
  </tbody>
</table>


<h1> Images </h1>
<div class="col">
  <img src="http://cdn.cnn.com/cnnnext/dam/assets/181108135411-desert-home-design-3.jpg"
   width="100%" alt="photo of a house" >
</div>


<h1>Things I wish to do</h1>
  <ul>
    <li>Travel</li>
    <li>Working</li>
    <li>Playing</li>
  </ul>

<h1>Post your house/apartment to start exchange!</h1>
<form method="post" action="/showformdata" class="bg-info">
  Where is this place that you wish to exchange?
  <input type="text"
         name="item">
  <br><br>
  When will it be available?
  <input type="date"
         name="date"><br><br>

  How long do you wish to exchange this place
  <select name="time span">
    <option>0 - 14 days</option>
    <option>14 days - 1 month</option>
    <option>1 month - 3 mongths</option>
    <option>> 3 months</option>
  </select>

  <br><br>
  Description of the stuff:
  <textarea name="description" rows="10" cols="40"></textarea>
  <br><br>
  Are you over 18?<br>
  yes <input type="radio" name="over18" value="yes"><br>
  no  <input type="radio" name="over18" value="no"><br><br>

 What kind of place do you wish to exchange for:<br>
  near water <input type="checkbox" name="interest" value="reading"><br>
  near mountain  <input type="checkbox" name="interest" value="code"><br>
  house <input type="checkbox" name="interest" value="voice"><br>
  apartment
          <input type="checkbox" name="interest" value="games"><br>
  in the city
          <input type="checkbox" name="interest" value="zen"><br>
  <hr>

  <input type="submit" value="Post Now">
</form>



<%- include('bootfooter') -%>
