<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>The Exchange</h1>
        <p>Exchange is a website for people to exchange houses or departments for a period of time to get a new experience of life!</p>
    </div>



<%- include('bootfooter') -%>
